In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('/Users/rohitlabade/Desktop/IMD-Project/Test/4.csv')

In [3]:
df.head(
)

,DATE,TIME(UTC),RAIN_HOURLY(mm),RAIN_DAILY(mm),TEMP(C),TEMP_MIN(C),TEMP_MAX(C),TEMP_MIN_MAX_DAY(C),DEW_POINT(C),RH(%),...,SOIL_MOIS_10cm(m3/m3),SOIL_TEMP_30cm(C),SOIL_MOIS_30cm(m3/m3),SOIL_TEMP_70cm(C),SOIL_MOIS_70cm(m3/m3),SOIL_TEMP_100cm(C),SOIL_MOIS_100cm(m3/m3),GLOBAL_RADIATION(v/m2),PAR(micro-mole/m2s),Unnamed: 30
0,2024-12-01,0:00:00,NaN,0.0,14.9,14.5,25.8,NaN,13.6,92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
1,2024-12-01,0:15:00,NaN,0.0,14.9,14.5,25.8,NaN,13.6,92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2,2024-12-01,0:30:00,NaN,0.0,14.8,14.5,25.8,NaN,13.5,92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
3,2024-12-01,0:45:00,NaN,0.0,15.0,14.5,25.8,NaN,13.7,92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
4,2024-12-01,1:00:00,NaN,0.0,14.9,14.5,25.8,NaN,13.6,92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN

In [4]:
df1= df.dropna(axis=1, how='all')
df1.head()

,DATE,TIME(UTC),RAIN_DAILY(mm),TEMP(C),TEMP_MIN(C),TEMP_MAX(C),TEMP_MIN_MAX_DAY(C),DEW_POINT(C),RH(%),WIND_DIR_10m(deg),WIND_SPEED_10m(kt),WIND_MAX/GUST_10m(kt),SLP(hPa),MSLP(hPa),GLOBAL_RADIATION(v/m2)
0,2024-12-01,0:00:00,0.0,14.9,14.5,25.8,NaN,13.6,92,285,1,1,946.9,1011.2,0.0
1,2024-12-01,0:15:00,0.0,14.9,14.5,25.8,NaN,13.6,92,223,0,1,947.0,1011.3,0.0
2,2024-12-01,0:30:00,0.0,14.8,14.5,25.8,NaN,13.5,92,269,1,2,947.2,1011.5,0.0
3,2024-12-01,0:45:00,0.0,15.0,14.5,25.8,NaN,13.7,92,298,1,1,947.4,1011.7,0.0
4,2024-12-01,1:00:00,0.0,14.9,14.5,25.8,NaN,13.6,92,294,1,1,947.5,1011.8,0.0

In [5]:
df = df.loc[:, ['DATE', 'TIME(UTC)', 'RAIN_DAILY(mm)','TEMP(C)','RH(%)']]

In [6]:
df.head()

         DATE TIME(UTC)  RAIN_DAILY(mm)  TEMP(C)  RH(%)
0  2024-12-01   0:00:00             0.0     14.9     92
1  2024-12-01   0:15:00             0.0     14.9     92
2  2024-12-01   0:30:00             0.0     14.8     92
3  2024-12-01   0:45:00             0.0     15.0     92
4  2024-12-01   1:00:00             0.0     14.9     92

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2917 entries, 0 to 2916
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DATE            2917 non-null   object
 1   TIME(UTC)       2917 non-null   object
 2   RAIN_DAILY(mm)  2917 non-null   float64
 3   TEMP(C)         2917 non-null   float64
 4   RH(%)           2917 non-null   int64
dtypes: float64(2), int64(1), object(2)
memory usage: 114.1+ KB

In [8]:
df['DATETIME'] = pd.to_datetime(df['DATE'] + ' ' + df['TIME(UTC)'])

In [9]:
df.head()

         DATE TIME(UTC)  RAIN_DAILY(mm)  TEMP(C)  RH(%)            DATETIME
0  2024-12-01   0:00:00             0.0     14.9     92 2024-12-01 00:00:00
1  2024-12-01   0:15:00             0.0     14.9     92 2024-12-01 00:15:00
2  2024-12-01   0:30:00             0.0     14.8     92 2024-12-01 00:30:00
3  2024-12-01   0:45:00             0.0     15.0     92 2024-12-01 00:45:00
4  2024-12-01   1:00:00             0.0     14.9     92 2024-12-01 01:00:00

In [10]:
# Move 'datetime' to the first position
df = df[['DATETIME'] + [col for col in df.columns if col != 'DATETIME']]

df.head()

             DATETIME        DATE TIME(UTC)  RAIN_DAILY(mm)  TEMP(C)  RH(%)
0 2024-12-01 00:00:00  2024-12-01   0:00:00             0.0     14.9     92
1 2024-12-01 00:15:00  2024-12-01   0:15:00             0.0     14.9     92
2 2024-12-01 00:30:00  2024-12-01   0:30:00             0.0     14.8     92
3 2024-12-01 00:45:00  2024-12-01   0:45:00             0.0     15.0     92
4 2024-12-01 01:00:00  2024-12-01   1:00:00             0.0     14.9     92

In [11]:
df=df.drop(['DATE','TIME(UTC)'], axis=1)

In [12]:
df.head()

             DATETIME  RAIN_DAILY(mm)  TEMP(C)  RH(%)
0 2024-12-01 00:00:00             0.0     14.9     92
1 2024-12-01 00:15:00             0.0     14.9     92
2 2024-12-01 00:30:00             0.0     14.8     92
3 2024-12-01 00:45:00             0.0     15.0     92
4 2024-12-01 01:00:00             0.0     14.9     92

In [13]:
df.to_csv('/Users/rohitlabade/Desktop/IMD-Project/Test/output3.csv', index=False)  # Saves without the index

In [14]:
import pandas as pd
from tkinter import Tk
from tkinter.filedialog import askopenfilenames

# Select multiple CSV files
print("Upload Multiple CSV Files")
Tk().withdraw()  # Prevents the root window from appearing
filenames = askopenfilenames(title="Select Multiple CSV Files")

# Read all CSVs and convert DATETIME column to datetime format
dfs = [pd.read_csv(f) for f in filenames]

# Ensure DATETIME column is in datetime format
for df in dfs:
    if 'DATETIME' in df.columns:
        df['DATETIME'] = pd.to_datetime(df['DATETIME'])
    else:
        raise ValueError(f"DATETIME column not found in one of the files: {filenames}")

# Merge all DataFrames on DATETIME column
merged_df = pd.concat(dfs, axis=0).sort_values(by="DATETIME").reset_index(drop=True)

# Display merged data
print("Merged DataFrame:")
print(merged_df.head())

# Save merged file
merged_df.to_csv("merged_output.csv", index=False)
print("Merged CSV saved as merged_output.csv")

Upload Multiple CSV Files

2025-03-03 13:34:49.119 Python[4628:84901] +[IMKClient subclass]: chose IMKClient_Modern
2025-03-03 13:34:49.680 Python[4628:84901] The class 'NSOpenPanel' overrides the method identifier.  This method is implemented by class 'NSWindow'

Merged DataFrame:
             DATETIME  RAIN_DAILY(mm)  TEMP(C)  RH(%)
0 2024-12-01 00:00:00             0.0     14.0  100.0
1 2024-12-01 00:00:00             0.0     16.9   90.0
2 2024-12-01 00:00:00             0.0     14.9   92.0
3 2024-12-01 00:00:00             0.0     16.6   70.0
4 2024-12-01 00:15:00             0.0     14.9   92.0
Merged CSV saved as merged_output.csv

In [18]:
merged_df.head()

,DATETIME,RAIN_DAILY(mm)_0,TEMP(C)_0,RH(%)_0,RAIN_DAILY(mm)_1,TEMP(C)_1,RH(%)_1,RAIN_DAILY(mm)_2,TEMP(C)_2,RH(%)_2,RAIN_DAILY(mm)_3,TEMP(C)_3,RH(%)_3
0,2024-12-01 00:00:00,0.0,14.0,100.0,0.0,16.6,70.0,0.0,16.9,90.0,0.0,14.9,92.0
1,2024-12-01 00:15:00,0.0,14.9,100.0,0.0,16.5,71.0,0.0,16.8,90.0,0.0,14.9,92.0
2,2024-12-01 00:30:00,0.0,14.2,100.0,0.0,16.2,71.0,0.0,16.7,90.0,0.0,14.8,92.0
3,2024-12-01 00:45:00,0.0,14.3,100.0,0.0,16.2,70.0,0.0,16.7,90.0,0.0,15.0,92.0
4,2024-12-01 01:00:00,0.0,14.1,100.0,0.0,16.3,70.0,NaN,NaN,NaN,0.0,14.9,92.0

In [19]:
import pandas as pd
from tkinter import Tk
from tkinter.filedialog import askopenfilenames

# Select multiple CSV files
print("Upload Multiple CSV Files")
Tk().withdraw()  # Prevents the root window from appearing
filenames = askopenfilenames(title="Select Multiple CSV Files")

# Read all CSVs and convert DATETIME column to datetime format
dfs = []
for i, file in enumerate(filenames):
    df = pd.read_csv(file)
    if 'DATETIME' in df.columns:
        df['DATETIME'] = pd.to_datetime(df['DATETIME'])  # Convert to datetime format
        df = df.set_index('DATETIME')  # Set as index for merging
        dfs.append(df.add_suffix(f"_{i}"))  # Add suffix to avoid duplicate column names
    else:
        raise ValueError(f"DATETIME column not found in {file}")

# Merge all DataFrames on the DATETIME index
merged_df = pd.concat(dfs, axis=1).reset_index()

# Display merged data
print("Merged DataFrame:")
print(merged_df.head())

# Save merged file
merged_df.to_csv("merged_output.csv", index=False)
print("Merged CSV saved as merged_output.csv")

Upload Multiple CSV Files

KeyboardInterrupt: